*{
    width: 100%;
    margin: 0%;
}
body{
    background-color: rgb(31, 31, 31);
}
.container{
    margin-top: 10px;
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    flex-wrap: wrap;
}
.inner-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    /* height: 100vh; */
    justify-content: center;
}
.time{
    /* height: 200px; */
    width: 350px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px double green;

}
.time-box{
    width: 100%;
}
.time-info{
    width: 33%;
    /* margin: 0%; */
    font-size: 70px;
    display: flex;
    color: rgb(193, 190, 190);
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}
.add-time{
    color: rgb(193, 190, 190);
    border: 2px solid green;
    width: 25%;
}
.sub-time{
    color: red;
    border: 2px solid green;
    width: 25%;
}


.teams{
    display: flex;
    justify-content: center;
    text-align: center;
}
.team-name{
color: green;

}
.team-score{
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* gap: 25px; */
}
.score{
    max-width: 175px;
    border: 2px solid green;
    color: rgb(193, 190, 190);
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;

}
.buttons{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;
}
.add-score{
    color: rgb(193, 190, 190);
    border: 2px solid green;
    width: 25%;
}
.sub-score{
    color: red;
    border: 2px solid green;
    width: 25%;
}
.shotClock{
    display: flex;
    justify-content: center;
    text-align: center;
}

.shotClockTime{
    width: 150px;
    font-size: 35px;
    /* color: green; */
    border: 2px solid green;
    font-family: 'Orbitron', sans-serif;
}
.add-twentyFour{
    color: rgb(193, 190, 190);
    border: 2px solid green;
    width: 15%;
}
#sc{
    color: green;
}
.add-fourteen{
    color: rgb(193, 190, 190);
    border: 2px solid green;
    width: 15%;
}
.team-foul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* gap: 25px; */
}
.foul{
    width:70px;
    border: 2px solid green;
    color: rgb(193, 190, 190);
    font-size: 20px;
}
.add-foul{
    color: rgb(193, 190, 190);
    border: 2px solid green;
    width: 25%;
}
.sub-foul{
    color: white;
    border: 2px solid green;
    width: 25%;
}
.reset{
    background-color: rgb(181, 53, 31);
    width: 150px;
    color: rgb(227, 227, 227);
    border-radius: 11px;
}
.reset:hover{
 background-color:rgb(209, 31, 0) ;
}
@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7.ttf');
  }
